<div class="card mt-4">
    <h4 class="card-header">Admin</h4>
    <div class="card-body">
        <p>This page can only be accessed by<u> Admin</u>.</p>
        <p class="mb-1">All Registered Users:</p>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Email ID</th>
                </tr>
            </thead>
            <tbody>
                <ng-container>
                <tr  *ngFor="let user of users">
                    <td>{{user.firstName}} {{user.lastName}}</td>
                    <td >{{user.username}}</td>
                </tr>
                </ng-container>
            </tbody>
            </table>
    </div>
</div>