<div class="card mt-4">
    <h4 class="card-header">Welcome! {{currentUser.firstName}} {{currentUser.lastName}}</h4>
    <div class="card-body">
        <p>You're logged in</p>
        <p *ngIf="currentUser.role">Your Role is: <strong>{{currentUser.role}}</strong></p>
        <p *ngIf="currentUser.role != 'Admin'" class="mb-1">All Registered Users:</p>
        <table class="table table-striped table-bordered" *ngIf="currentUser.role != 'Admin'">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th *ngIf="currentUser.role != 'Admin'">Email ID</th>
                </tr>
            </thead>
            <tbody>
                <ng-container>
                <tr  *ngIf="userFromApi && currentUser.id == 1">
                    <td>{{userFromApi.firstName}} {{userFromApi.lastName}}</td>
                    <td *ngIf="currentUser.role != 'Admin'">{{userFromApi.username}}</td>
                </tr>
                </ng-container>
            </tbody>
            <tbody>
                <ng-container>
                <tr *ngIf="currentUser.id != 1">
                    <td>{{currentUser.firstName}} {{currentUser.lastName}}</td>
                    <td *ngIf="currentUser.role != 'Admin'">{{currentUser.username}}</td>
                </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>